.add-on-group {
  overflow: hidden; }
.add-on-group .add-on {
  float: left;
  width: 250px;
  margin: 20px;
  padding: 20px;
  background: white; }
.add-on-group .add-on .ui-icon {
  float: left; }

#prompt-sidebar .ui-widget-header, #prompt-sidebar .ui-widget-content {
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: normal; }

#prompt-sidebar .ui-widget-header {
  background: #f3f3f3 !important;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #ddd !important; }

.ui-widget-content {
  border: none !important;
  margin-bottom: 30px !important; }

#prompt-sidebar {
  width: 20%;
  min-width: 200px;
  margin-top: 36px;
  float: right;
  margin-left: 10px; }
#prompt-sidebar .ui-widget {
  margin-bottom: 10px; }

.ui-tabs-nav > .ui-state-default a {
  border-color: #35bfc6 !important;
  background: #35bfc6 !important; }

.ui-tabs-nav > .ui-state-hover a {
  border-color: #35bfc6 !important;
  background: #35bfc6 !important; }

.prompt-news small {
  display: block; }

#prompt-tabs {
  overflow: hidden;
  min-width: 400px;
  font-family: "open-sans", "helvetica", sans-serif; }

#prompt-tabs .ui-tabs-nav .ui-state-active a {
  border-top: 1px solid #ddd !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  color: #28B0C8 !important; }

#adminmenuback {
  z-index: auto; }

#prompt-settings-invite textarea {
  width: 90%; }
#prompt-settings-invite tr.recipient-type label {
  display: block; }
#prompt-settings-invite .invite-limit-warning {
  display: none; }

.recipient-count {
  font-weight: bold; }

h2#prompt-settings-header {
  background: white url(../media/postmatic.png) no-repeat top left;
  background-size: 210px;
  height: 65px;
  margin-bottom: 10px;
  margin-top: 30px; }

h2#prompt-settings-header span {
  display: none; }

.opt-in {
  margin: 30px -25px -97px -25px;
  padding: 10px 15px 90px 22px;
  width: 50%; }

.opt-in h3 {
  color: #3EC0C6;
  font-weight: normal;
  font-size: 150%; }

.wrap.signup {
  background: #29bfc7 url(http://i.imgur.com/TkE4sxV.png) no-repeat bottom;
  background-width: 100%; }
.wrap.signup a {
  color: #fff; }
.wrap.signup .error a {
  color: #29bfc7; }
.wrap.signup table, .wrap.signup .description {
  color: #fff; }
.wrap.signup h2 {
  border-bottom: 1px solid #fff; }
.wrap.signup h2, .wrap.signup label, .wrap.signup th {
  color: #fff; }
.wrap.signup th {
  width: 75px;
  display: block;
  float: left; }
.wrap.signup .form-table tr {
  display: block;
  float: left;
  width: 38%;
  margin-right: 3%; }
.wrap.signup .form-table td {
  width: 100%; }

.get-prompt-key {
  padding: 25px 50px;
  color: #fff; }

.get-prompt-key h1 {
  color: #fff;
}

.get-prompt-key p {
  font-size: 110%; }

input.regular-text {
  width: 100%; }

.initialize-key {
  padding: 0 50px 40px 50px; }

.initialize-key td, .initialize-key tr {
  width: 100% !important; }

.widget {
  width: 32%;
  float: left;
  margin-right: 1%;
  padding: 130px 20px 0 20px;
  text-align: center;
  background-size: 112px !important;
  vertical-align: bottom;
  margin-bottom: 65px;
  margin-top: 65px; }
.widget a {
  display: block;
  background: #00C59C;
  color: #fff !important;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 0; }

#postmatic-documentation {
  background: url(../media/docs.png) no-repeat top center; }

#postmatic-widget-directory {
  background: url(../media/widgets.png) no-repeat top center; }

#postmatic-support {
  background: url(../media/ticket.png) no-repeat top center; }

#prompt-settings-general {
  background: url(../media/growth.png) bottom right no-repeat;
  background-size: 100% !important; }

ul.prompt-news {
  margin: 3%; }
ul.prompt-news li {
  display: block;
  width: 28%;
  float: left;
  margin-right: 1%;
  padding: 0 2%; }
ul.prompt-news li div p:nth-child(2) {
  display: none; }
ul.prompt-news li:nth-child(1) {
  width: 100%;
  font-size: 185%;
  line-height: normal;
  margin-bottom: 25px; }

#news-header {
  margin-left: 5%;
  clear: left; }

#get_support_submit {
  clear: both !important;
  top: 30px;
  position: relative;
  text-align: right;
  margin-top: 45px; }

tr.concierge-install {
  clear: both;
  width: 65% !important; }

.site-icon img {
  margin-right: 10px; }

pre.prompt-custom-text {
  white-space: -moz-pre-wrap;
  /* Mozilla, supported since 1999 */
  white-space: -o-pre-wrap;
  /* Opera */
  white-space: pre-wrap;
  /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word;
  /* IE 5.5+ */ }

textarea.prompt-custom-text {
  width: 100%;
  height: 10em; }

.prompt-custom-text-upgrade {
  background: #F7F7F7;
  padding: 10px;
  margin:-10px;
  color: black;
  text-align: left;
  font-size: 85%;
}

#screenshots {
  width: 70%;
  float: right;
  margin-left: 20px;
  margin-bottom: 25px; }

.tab-footer {
  font-family: "open-sans", "helvetica", sans-serif;
  margin-top: 35px; }
.tab-footer h1 {
  color: #28B0C8;
  font-weight: normal;
  font-size: 220%;
  line-height: normal; }
.tab-footer h2 {
  color: #28B0C8;
  margin-bottom: 5px; }
.tab-footer h4 {
  font-weight: normal; }
.tab-footer p {
  margin-top: 0; }

.clear {
  clear: both !important; }

.col {
  width: 30%;
  float: left;
  margin-right: 3%; }

h2#trial {
  margin-top: 36px; }

h2#trial a {
  text-decoration: none;
  color: #E14D43; }

#comments {
  width: 35%;
  float: right;
  margin-left: 20px;
  margin-bottom: 25px; }

#prompt-tabs.ui-tabs .ui-widget-content {
  border: 1px solid #ddd !important;
  border-top: none !important; }

#prompt-tabs .ui-tabs-nav .ui-state-active a {
  border: 1px solid #ddd !important;
  border-bottom: none !important; }

.ui-tabs-nav {
  border: none !important; }

.welcome {
  padding: 3% 5%;
  width: 50%;
  line-height: 190%;
  border: 1px double #ddd;
  margin-bottom: 25px;
  background: #eee;
  text-align: left; }

.welcome p {
  font-size: 100%;
  font-style: italic; }

div#manage-account a {
  float: right;
  background: none;
  font-size: 100%;
  margin-top: 15px;
  margin-right: 3%;
  background-color: #28B0C8;
  color: #fff;
  padding: 5px 7px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none; }

.ui-tabs .ui-tabs-nav li a {
  font-size: 85% !important;
}

/*popup styling*/

#prompt-settings-optin-options {
  position:relative;
  padding: 25px;
}

.optin-enable  {
  width: 204px;
  min-height: 200px;
  text-align:center;
  margin-bottom: 25px;

}

.optin-enable  input {
  width: 204px;
  height: 225px;
  display: block;
  margin-bottom: 15px;
  background: #eee;
  z-index:5;
  position: relative;
  border: 2px solid #fff;
}

.optin-enable  input:checked {
}

.optin-enable  input:checked:before {
  color: white;
  font-size: 200px;
}

#optin-select-popup input {
  background: url(../media/optins/optin-popup.png) no-repeat;
}
#optin-select-bottom input {
  background: url(../media/optins/optin-bottom.png) no-repeat;
}
#optin-select-topbar input {
  background: url(../media/optins/optin-topbar.png) no-repeat;
}
#optin-select-inline input {
  background: url(../media/optins/optin-inline.png) no-repeat;
}

.gutter {
  padding: 15px 25px 25px 225px;
  margin-bottom: 25px;
  margin-top:-250px;
  text-align: left;
  width: auto;
  font-size: 90%;
}

.gutter h1, .gutter h2, .gutter h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #19B0CA;
}

.gutter h4 {
  margin: 0 0 0 0;
  padding: 0;
  color: #19B0CA;
}

.gutter input.regular-text {
  margin-bottom: 10px;
}

.gutter h2 small {
  display: block;
  color: #ccc;
}

.gutter textarea {
  width: 100%;
  height: 110px;
}

#optin-select-popups {

}

.col1 {
  width: 45%;
  float: left;
  clear: left;
}

.col2 {
  margin-left: 50%;
}

#popup-type {
  margin-bottom: 10px;
}

#popup-type label, #bottom-type label {
  display: block;
  margin-bottom: 5px;
}

.theme-chooser {
  clear: left;
  padding-top: 25px;
  height:125px;
}

.theme-chooser label {
  text-align: center;
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.theme-chooser input {
  display: block;
  width: 50px;
  height: 50px;
}

.theme-chooser input:checked {
  border: 4px solid red;
  color: white !important;
}

.theme-chooser input:checked:before {
  background: transparent;
}

.theme-chooser h3 {
  margin-bottom: 20px;
  clear: left;
}

.theme-chooser input[value="light"] { background: #EEE; }
.theme-chooser input[value="dark"] { background: #545454; }
.theme-chooser input[value="orange"] { background: #EB593C; }
.theme-chooser input[value="blue"] { background: RGB(44, 148, 242); }
.theme-chooser input[value="green"] { background: RGB(146, 201, 39); }
.theme-chooser input[value="spruce"] { background: #727261; }
.theme-chooser input[value="lilac"] { background: #967095; }

.optin-image {
  clear: left;
}

.optin-image img {
  width: 75px;
  height: auto;
  padding: 5px;
  background: #ddd;
}

#inpost-ids {
  display: none;
}

#optins-welcome, #skimlinks-welcome {
  width: 90%;
}

#popup-options small, #bottom-title-desc small {
  display: block;
  color: gray;
}

.testmode {margin-top: 10px; color: blue;}

.postmatic-dismiss {
  position:relative;
  left: 10px;
}

body.settings_page_postmatic #wpwrap {
  background: #fff;
}